:root{
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --default-btn-color: #F5F4FA;
    --main-background-color: #2F303A;
    --second-background-color: #F5F4FA;
}

p, h1, h2, h3, h4, h5{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding-left: 0;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.link{
    text-decoration: none;
    font-style: normal;
}

.list{
    list-style: none;
}

.logo-blue{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-link.carrent{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* --------------------------------------------------HEADER-------------------------------------- */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
}

.header-list .header-item + .header-item{
    margin-left: 50px;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--second-title-color);

    margin-right: 93px;
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus,
.header-link:active{
    color: var(--accent-color);
    cursor: pointer;
}

.header-contac{
    display: flex;
    margin-left: auto;
}

.header-contac .header-item + .header-item{
    margin-left: 50px;
}

.header-contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus{
    color: var(--accent-color);
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- */
/* --------------------------------------------------INDEX.HTML-------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

/* --------------------------------------------------MAIN-------------------------------------- */

.main-top{
    text-align: center;
    background-color: var(--main-background-color);
    display: block;
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-top-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);

    margin-bottom: 30px;
}

.main-top-btn{  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    
    min-width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 10 32;
}


.main-top-btn:hover,
.main-top-btn:focus{
    cursor: pointer;
}

/* --------------------------------------------------MAIN-MIDDLE-------------------------------------- */

.main-middle{
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-middle-list{
    display: flex;
}

.main-middle-list .main-middle-item + .main-middle-item{
    margin-left: 30px;
}

.main-middle-subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);

    min-width: 270px;

    margin-bottom: 10px;
}

.main-middle-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    
    min-width: 270px;
}

/* --------------------------------------------------MAIN-BOTTOM-------------------------------------- */

.main-bottom{
    padding-bottom: 94px;
}

.main-bottom-list{
    display: flex;

}

.main-bottom-list .main-bottom-item + .main-bottom-item{
    margin-left: 30px;
}

.main-bottom-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);

    margin-bottom: 50px;

}

/* --------------------------------------------------MAIN-TEAM-------------------------------------- */

.main-team{
    background-color: var(--second-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-team-list{
    display: flex;
}

.main-team-list .main-team-item + .main-team-item{
    margin-left: 30px;
}

.main-team-item > .team{
    width: 270px;
    height: 368px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.main-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);

    margin-bottom: 50px;
}

.main-team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);

    margin-top: 30px;
    margin-bottom: 10px;
}

.main-team-text{font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

    margin-bottom: 30px;
}

/* ---------------------------------------------------------------------------------------------- */
/* --------------------------------------------------PORTFOLIO.HTML-------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.header.portfolio{
    border-bottom: 1px solid #ECECEC;
}

/* --------------------------------------------------MAIN-------------------------------------- */

.main-porfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-list-porfolio{
    display: flex;
    justify-content: center;
}

.main-list-porfolio .main-item-porfolio + .main-item-porfolio{
    padding-left: 8px;
}

.second-list-porfolio{
    display: flex;
    flex-wrap: wrap;
}

.second-item-porfolio{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;

}

.second-item-porfolio:nth-child(3n){
    margin-right: 0;
}

.main-btn-porfolio{
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    
    min-width: 73   px;
    height: 38px;
    background: var(--second-background-color);
    border: 0;

    padding: 6 32;
    margin-bottom: 34px;
}

.main-btn-porfolio:hover,
.main-btn-porfolio:focus{
    background: var(--accent-color);
    color: var(--main-title-color);
    cursor: pointer;
}

.second-subtitle-porfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title-color);

    min-width: 300px;

    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
}

.second-text-porfolio{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

    min-width: 300px;

    margin-bottom: 20px;
    margin-left: 24px;
}

/* --------------------------------------------------FOOTER-------------------------------------- */

.footer{
    background: var(--main-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-title-color);

    display: block;

    padding-bottom: 20px;
}

.footer-item{
    padding-bottom: 9px;
}

.footer-item:last-child{
    padding-bottom: 0;
}

.footer-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-title-color);

    display: block;
}

.footer-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    display: block;
}

.footer-link:hover,
.footer-link:focus{
    color: var(--accent-color);
    cursor: pointer;
}